div.sidebar
    div.avator
        a(href="https://twitter.com/melo15")
            img(src=theme.logo)
    div.name
        span Author: 
        | Naoki Otsu
    div.profile
        span Job:  
        | Frontend Engineer<br>
        | フロントエンドに関わる事をつぶやいたりブログに書いたりしてます。熊本出身。バスケ(特にNBA)好きです。<a class="more" href="/about/">...more</a><br>
    <a href="https://twitter.com/melo15" class="twitter-follow-button" data-show-count="false">Follow @melo15</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    