section.container {
    margin: 2em 10px;
}

.sns-area {
    display: flex;
    align-items: flex-end;

    // はてなブックマーク
    .hatena-bookmark-button-frame {
        margin: 0 15px 0 0;
    }

    // Twitter
    .twitter-button {
        width: 80px;
        height: 60px;
        position: relative;

        iframe {
            margin: 7.5px auto;
        }

        .counter {
            display: block;
            top: 0px;
            width: 70px;
            height: 31px;
            background-color: #FFF;
            position: relative;
            border: 1px solid #B0C1D8;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            padding: 0 4px;
            font-family: Arial;
            font-size: 16px;
            line-height: 31px;
            text-align: center;
            color: #2D4C86;
            display: block;
        }

        &:before,
        &:after {
            border: solid transparent;
            content: ' ';
            height: 0;
            right: 100%;
            position: absolute;
            width: 0;
        }
        &:before {
            border-width: 5px;
            border-top-color: #B0C1D8;
            top: 32px;
            left: 34px;
        }
        &:after {
            border-width: 4px;
            border-top-color: #FFF;
            top: 31px;
            left: 35px;
        }
    }
}

@media screen and (min-width: 990px) {
    .wrap {
        width: 990px;
        margin: 0 auto;
    }
    header {
        padding: 20px 100px;
    }

    .container {
        display: flex;
    }

    .home.post-list {
        flex: 1;
        margin-top: 0;
    }

    .post {
        flex: 1;
        min-width: 12em;
    }

    .sidebar {
        flex: 0 0 210px;
        margin: 36px 30px 0 0;
        font-size: 14px;

        span {
            color: #000000;
            font-weight: bold;
        }

        iframe {
            margin: 6px 0 0 0;
        }

        .more {
            color: #42b983;
        }
    }
    
    .avator {
        text-align: center;
        img {
            width: 80px;
            border-radius: 100%;
            box-shadow: 0 0 1px #000;
        }
    }

    .name {
        margin-top: 10px;
    }

    .profile-content {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .wrap {
        width: 100%;
    }
    header {
        padding: 20px 0;
        a.logo-link,
        ul.nav.nav-list {
            float: none;
            display: block;
            text-align: center;
        }
        li.nav-list-item {
            padding: 10px 6px;
        }
    }
    section.container,
    .home.post-list,
    .archive {
        margin-top: 0;
    }
    .archive .post-item {
        padding-left: 20px;
    }
    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 300px;
            left: 15px;
        }
    }
    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }

    .sidebar {
        display: none;
    }

    // フッター付近のプロフィール
    .profile-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 8px 0;
        font-size: 13px;

        img {
            width: 70px;
            border-radius: 100%;
            box-shadow: 0 0 1px #000;
        }

        .profile-text {
            flex: 1;
            margin-left: 10px;
        }

        .more {
            color: #42b983;
        }

        iframe {
            margin: 8px 0 0;
        }
    }
}